pip
APScheduler
Brotli
Nuitka
XlsxWriter
aiogram
aiohttp
anyio
autocommand
backports.tarfile
black
cachetools
chardet
charset-normalizer
click
colorama
contourpy
cycler
ezdxf
fonttools
h11
httpcore
httpx
idna
importlib-metadata
inflate64
inflect
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
kiwisolver
lml
matplotlib
more-itertools
multivolumefile
mypy-extensions
numpy
ordered-set
packaging
pandas
pathspec
pillow
pip-review
platformdirs
psutil
py7zr
pybcj
pycryptodomex
pyexcel
pyexcel-io
pyexcel-xls
pyexcel-xlsx
pyexcel-xlsxw
pyparsing
pyppmd
python-dateutil
python-telegram-bot
pyxlsb
pyzstd
requests
scipy
setuptools
shapely
sniffio
texttable
tomli
tornado
tqdm
typeguard
urllib3
wheel
xlrd
xlwings
xlwt
yarl
zipp
zstandard
aiofiles
aiohappyeyeballs
aiosignal
annotated-types
attrs
certifi
customtkinter
darkdetect
easygui
et-xmlfile
frozenlist
magic-filter
multidict
openpyxl
propcache
pydantic
pydantic-core
pyperclip
pytz
pywin32
six
transliterate
typing-extensions
tzdata
tzlocal
win32-setctime
PyPDF2
